#footer{
    padding: 120px 0px;
    background-color: rgba(248, 165, 76, 0.507);
    margin-top: 100px;
}

.twenty_one p{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #29313D;
    margin-top: 20px;
}

.twenty_two h4{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #29313D;
    padding-bottom: 20px;
}

.twenty_two h5{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #29313D;
    margin-top: 20px;
}

.twenty_three{
    margin-top: 60px;
}

.twenty_three h4{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #29313D;
}

.twenty_three h2{
    font-size: 18px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    color: #29313D;
}