#fourth{
    padding: 120px 0px;
}

.eight{
    text-align: center;
}

.eight h4{
    font-size: 20px;
    font-weight: 800;
    font-family: "Paprika", system-ui;
    color: #FF7364;
}

.eight h2{
    font-size: 46px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #2C2643;
}

.nine{
    background-color: #FFFF;
    border: 2px solid;
    border-color: #DCE7FE;
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 60px;
    transition: .5s;
    
}
.nine:hover{
    background-color: #D6A033;
    color: #FFFF !important;
}

.nine h4{
    font-size: 22px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #2C2643;
    margin-top: 20px;
}

.nine p{
    font-size: 15px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #6C7D93;
}

.nine h5{
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #3639A4;
    margin-top: 40px;
}